@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* font-family: "Roboto", sans-serif;
font-family: "Merriweather Sans", sans-serif; */

* {
    padding: 0;
    margin: 0;
    font-family: Monaco, "Courier New", monospace;
}

.App {
    background-image: linear-gradient(
        to right top,
        #2c3e50,
        #2b5e74,
        #1e8193,
        #1fa5a7,
        #48c9b0
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.difficultylevel h2 {
    font-weight: bold;
}

.examples pre code,
.solution pre code,
.explanation pre code {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}
